.card {
  padding: 2em;
  -webkit-box-shadow: 5px -2px 15px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 5px -2px 15px -8px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 8px;
  background-color: white;
}

.setTitle {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}
